* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background-color: rgb(139, 202, 202); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  margin: 0 0 1rem 0;
}

button {
  padding: 0.8rem 2rem;
  border: 0;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background-color: #ccc;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: black;
}

nav .nav-content {
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

nav .logo {
  width: 2rem;
  height: 2rem;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

nav .logo-text {
  margin: 0 0 0 1rem;
  color: white;
}

main {
  height: 86vh;
  max-width: 1200px;
  margin: 8vh auto 0;
  padding: 1rem;
}

footer {
  height: 6vh;
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

.footnote {
  text-align: center;
}

.alert-button {
  padding: 0.8rem 2rem;
  background-color: black;
  color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
}

.alert-button:hover {
  background-color: #ccc;
  color: black;
  border: 2px solid black;
}
